<VirtualHost *:{{ item.port }}>
    ServerAdmin webmaster@{{ item.name }}
    ServerName {{ item.name }}
    DocumentRoot {{ item.document_root }}
    # Add other configuration here
</VirtualHost>
#